body{
	background-color: yellow;
}

p.mig{
	color: blue;
	border: 5px solid green;
}

p.program{
	color: blue;
	text-align: center;
}

p.tankar{
	color: blue;
	text-align: right;
}

h1{
	color: blue;
	font-size: 22px;
	font-family: arial;
}

h2{
	color: blue;
	font-size: 20px;
	text-align: center;
}

alt{
	color: gray;
	font-size: 200%;
}

a{
	text-decoration: none;
}
